@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    user-select: none;
}

:root{
    --branco:      #f8f9fa;
    --branco2:     #e9ecef;
    --cinza:       #dee2e6;
    --cinza2:      #ced4da;
    --cinzamedio:  #adb5bd;
    --cinzamedio2: #6c757d;
    --fundo1:      #495057;
    --fundo2:      #343a40;
    --fundo3:      #212529;

}

@media (orientation: landscape){
  header{
    background-color: black;
  }
}


@media (orientation: portrait) { 
    /* ::-webkit-scrollbar{display: none;} */

    html{
        min-width: 375px;
        min-height: 667px;
    }
    body{
        background-color: lightgray;
        min-width:90vw;
        min-height:90vh;
    }
    
    header{
        background-position: cover;
        width: 100vw;
        height: 40vh;
        padding: 50px 30px;
        /* background: url(../imagens/caparealista.jpeg) no-repeat; */
        background-size: cover;
        gap: 30px;
        background-color: red;
    }

    header  .hamburguinho{
        color: white;
        width: 40px;
        height: 40px;
        font-size: 2em;
        padding: 5px;
        background-color: gray;
    }
    
    h1{
        display: flex;
        align-items: center;
        font-size: 2.4em;
        color: gainsboro;
        background-color: gray;
    }

    span{
        color: #0013c2;
    }
   
    .balaobuscapai{
        width: 300px;
        height: 40px;
        margin: 40px auto;
    }

    input{
        min-width: 300px;
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        opacity: 0.7;
        box-shadow: 0px 4px 8px #0418549f;
    }

    input::placeholder{
        font-size: 1.3em;
        color: black;
    }

    header nav{
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        bottom: 0;
        left: 0px;
        width: 100vw;
        align-content: center;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.1));
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: 99;
    }

    header nav a{
        filter: invert();
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-width: 60px;
        min-height: 40px;
        margin-bottom: 4px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    
    main{
        min-height: 667px;
        min-width: 370px;
        width: 370px;
        background-color: var(--branco2);

    }
    
    main section{
        min-width: 370px;
        background-color: var(--branco2);
    }

    #imgprodutopai{
        display: flex;
        overflow-x: scroll;
        padding: 24px;
        width: 280px;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
        margin: 45px;
        border-radius: 8px;
        gap: 20px;
    }

    #imgprodutopai .imgproduto{
        flex: 0 0 100%;
        padding: 24px;
        scroll-snap-align: start;
        width: 100px;
        height: 300px;
        border-radius: 8px;
        box-shadow:
        -0.1px 0px 0.6px -5px rgba(0, 0, 0, 0.119),
        -0.2px 0px 2.2px -5px rgba(0, 0, 0, 0.153),
        -0.2px 0px 5.6px -5px rgba(0, 0, 0, 0.178),
        0.4px 0px 12.5px -5px rgba(0, 0, 0, 0.201),
        1px 0px 24px -5px rgba(0, 0, 0, 0.23)
    }

    #popups .pop-up-img:nth-child(1){
        background-image: url(../imagens/1-1.jpg);
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    #popups .pop-up-img:nth-child(2){
        background-image: url(../imagens/.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(3){
        background-image: url(../imagens/.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(4){
        background-image: url(../imagens/e89c4525ac0ed614b48e48b887e5fa00.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(5){
        background-image: url(../imagens/.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(6){
        background-image: url(../imagens/.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(7){
        background-image: url(../imagens/.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(8){
        background-image: url(../imagens/.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(9){
        background-image: url(../imagens/.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(10){
        background-image: url(../imagens/.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(11){
        background-image: url(../imagens/.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
    #popups .pop-up-img:nth-child(12){
        background-image: url(../imagens/.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }

    .btnpop{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5em;
        font-weight: 100;
        border-radius: 50px;
        background: linear-gradient(145deg, #dde7ff, #8e95a7);
        box-shadow:  1px 1px 8px #343b4c, -1px -1px 8px #c8daec;
        width: 40px;
        height: 40px;
        transform: translate(-27px, 240px);
    }
    
    /* o asside está desligado para ser chamado pelo hamburguinho */
    main aside{
        display: none;
        position: absolute;
        right: 0px;
        top: 10%;
        width: 150px;
        height: 400px;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
        background-color: orange;
        box-shadow:
        -2px 4px 7px -5px rgba(0, 0, 0, 0.3),
        -3px 6px 7px -5px rgba(0, 0, 0, 0.1),
        -4px 5px 8px -5px rgba(0, 0, 0, 0.1),
        -0.4px 2px 12px -5px rgba(0, 0, 0, 0.4),
        -1px 2px 24px -5px rgba(0, 0, 0, 0.2)
    }
}